<!DOCTYPE html>
<html>
  <head>
    <title>ProductivityReport</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <%= render 'layouts/header' %>
      <div class="container" id="<%= current_user ? 'page-wrapper': '' %>">
        <% flash.each do |name, msg| %>
          <%= content_tag(:div, msg, class: "alert alert-info alert-general") %>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
